.form-container{
   width: 50%;
}
h4{
    color: var(--bg);
}
.form-container .input-element{
    display: flex;
    justify-content: space-between;
}
.form-container .input-element input{
   height: 30px;
}
.form-container .reg-button{
    display: flex;
    justify-content: space-between;
}
.form-container button{
    width: 20%;
    display: grid;
    background-color: var(--bg);
    color: #fff;
    border: none;
    border-radius: 2px;
}
.signed-in{
    display: flex;
    justify-content: space-between;
}   
.signed-in .buttonElement{
    display: flex;
    width: 52%;
    justify-content: space-between;
    /* border: 2px solid; */
}
.signed-in .buttonElement button{
     width: 45%;
}
.feedback-element{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.feedback-element p{
    width: 58%;
    display: grid;
    place-items: center;
    color: red;
}