/* *****************************************
SYSTEM SETTING CSS
**************************************** */
form .top-system-content label, .setting-input, textarea{
    display: block;
    margin-top: 10px;
    width: 100%;
   
}
form .top-system-content textarea, .setting-input{
    height: 30px;
    border: none;
    outline: none;
    border: 1px solid rgb(169, 158, 158);
    border-radius: 4px;
    padding: 5px;
}
#system-setting label{
    margin-bottom: -10px;
}
form .top-system-content textarea{
    resize: none;
    height: 20vh;
    border: 1px solid var(--bg);
}
.bellow-system-content{
    margin-top: 10px;
    
}
.bellow-system-content .use-default-profile, .upload-custome-profile{
    display: flex;
    justify-content: space-between;
}
.upload-custome-profile .system-profile, .system-logo{
    margin-top: 15px;
    display: flex;
}
.upload-custome-profile .system-logo .custome-image, .system-profile .custome-image{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.upload-custome-profile .system-logo .custome-image img, .system-profile .custome-image img{
    width: 100%;
    height: 100%;
}
#setting-submit{
    background-color: var(--bg);
   color: aliceblue;
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}
