/* *****************************
NAV BAR  CSS
**************************** */
.exnav_jumbotrone_content .system_logo{
  width: 20%;
  height: 50px;
}
.exnav_jumbotrone_content .system_logo img{
 width: 100%;
 height: 100%;
}
.topsection_element{
    position: relative;
   
    
}
.menu-container{
    position: absolute;
    right: 0;
    z-index: 2;
    margin-top: 30px;
    background-color: #fff;
    width: 15%;
    height: 30vh;
    transition: 1.2s;
    transform: translateX(250px);
}
.transMenu{
    transform: translateX(-0px);
}
.menu-container .menu-content{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.menu-container .menu-content .icons{
   height: 20px; 
   width: 20px;
}
.menu-container .menu-content .menu-text{
  margin-left: 20px;
}
.menu-container .menu-content .icons img{
   height: 100%;
   width: 100%;
}
.main-container .right-section{
    overflow-y: scroll;
   
}
.right_section_top{
    display: flex;
    justify-content: space-between;
}
.right_section_top .menu_page{
    width: 7%;
    height: 70%;
}
.right_section_top .menu_page img{
    width: 70%;
    height: 90%;
    cursor: pointer;
}
/* ********************************
SECTION CSS
******************************* */
.middashbord-container{
    position: relative;
    z-index: 1;
}
.middashbord-container .top{
    display: flex;
    justify-content: space-between;
   
}
.middashbord-container .top .login-status{
    color: var(--bg);
    font-weight: bold;
}
.middashbord-container .top .warning-container{
  display: flex;
}
.middashbord-container .top .warning-size{
 font-weight: bold;
 color: brown;
}
.middashbord-container .top .warning-info{
    color: rgb(178, 178, 24);
    cursor: pointer;
}
.middashbord-container .top .warning-link{
    text-decoration: none;
   
}
.middashbord-container .downside{
    height: 30px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--shadow);
}
.middashbord-container .downside .current-status{
  font-weight: bold;
 font-size: 11pt;
  text-decoration: underline;
}
.middashbord-container .downside .reft-link{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}
.middashbord-container .downside .reft-link *{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}
.middashbord-container .downside .reft-link .icons{
   width: 20px;
   height: 20px;
}
.middashbord-container .downside .reft-link .icons img{
   width: 100%;
   height:100%;
}
.middashbord-container .downside .warning{
    color: yellow;
}
.middashbord-container .downside .danger{
    color: red;
}
/* ***************************************
DISPLAYDE PUBLIC PROFILE
*************************************** */
.publucaside_container{
   height: auto;
}
.dashbord-image-profile, .photo{
  height: 40vh;
}
.dashbord-image-profile img{
   width: 100%;
   height: 100%;
}
.dashbord-image-profile .photo{
   height: 90%;
}
.medical_Category{   
   text-transform: uppercase;
}
.welcome-doshabord{
   margin-top: 20px;
}
.welcome-doshabord p{
   margin-top: 10px;
   color: gray;
}
/* ************************************
EDITUSER CSS
********************************** */
.edit-user-container{
    position: relative;
}
.edit-user-container .profile-picture{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.edit-user-container .profile-picture img{
    width: 100%;
    height: 100%;
}
.edit-user-container .profile-picture input{
   display: none;
}
.edit-user-container .top-downinfo, .down-downinfo{
    width: 80%;
    display: flex;
    justify-content: space-between;
   margin-top: 20px;
}
.edit-user-container input{
   border: none;
   outline: none;
   border-bottom: 1px solid grey;
}
.edit-user-container .left-downifo, .right-downifo{
  width: 45%;
  display: flex;
  justify-content: space-between;
}
.edit-user-container input[type='submit']{
   width: 50%;
   background-color: var(--bg);
   height: 30px;
   border-radius: 5px;
   color: #fff;
   cursor: pointer;
 }
 .edit-user-container form{
    position: relative;
 }
 .edit-user-container .edited-user{
 border: 2px solid black;
 }
 .edit-user-container .edited-feedback{
    border: 2px solid;
 }
 /* ********************************
 ALERT CSS
 ******************************** */
 .alert-container{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 }
 .alert-container .alerts-number{
    font-size: large;
    text-transform: uppercase;
    color: red;
 }
 .alert-container .alert-message{
    box-shadow: var(--shadow);
    width: 70%;
    height: 70px;
    border-radius: 5px;
    display: grid;
    place-items: center;
 }
 .alert-container .alert-message a{
    display: grid;
    width: 100%;
    height: 100%;
    place-items: center;
    text-decoration: none;
    color: red;
 }

 /* ************************************
 EXPIRED MEDICS
 ************************************ */
 .expired-medical-list{
    font-size: large;
    font-weight: bold;
 }
 .expired-medical-list, .expired-list{
    display: flex;
    justify-content: space-between ;
    position: relative;
    z-index: 1;
 }
 .expired-medical-list *, .expired-list *{
    border: 1px solid rgb(196, 183, 183);
    display: flex;
    justify-content: space-between;
    width: 20%;
    height: 30px;
    display: grid;
    place-items: center;
 }
 .expired-list a{
    display: none;
 }
 .expired-list .status, .delete{
    color: red;
    text-decoration: none;
    cursor: pointer;
    font-size: 9pt;
 }
 .expired-list .delete{
    font-size: 12pt;
 }
 .dialog-container{
    background-color: rgb(188, 188, 201);
    width: 30%;
    border-radius: 2px;
    position: fixed ; 
    top: 50%;
   z-index: 2;
   
 }
 .dialog-container .dialog-message{
    color: rgb(149, 11, 11) ;
    display: grid;
    place-items: center;
    
    width: 100%;
 }
 .dialog-container .dialog-action{
    display: flex   ;
    justify-content: space-around;
    width: 100%;
 }
 .dialog-container .dialog-action .yes, .no{
    width: 50%;
    display: grid;
    place-items: center;
 }
 .dialog-container .dialog-action button{
    width: 40%;
    cursor: pointer;
 }
 